html {
  overflow-y: scroll;
}

header a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  opacity: 0.8;
}

header a[aria-current='true'] {
  opacity: 1;
  text-decoration: gray underline 2px;
}

.chessboard > div > cg-container > coords.ranks > coord.coord-dark {
  color: rgba(72, 72, 72, 0.95) !important;
}
.chessboard > div > cg-container > coords.ranks > coord.coord-light {
  color: rgba(255, 255, 255, 0.95) !important;
}