html {
  overflow-y: scroll;
}

header a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  opacity: 0.8;
}

header a[aria-current='true'] {
  opacity: 1;
  text-decoration: gray underline 2px;
}

.chessboard-wrapper {
  max-width: 400px;
  margin: 1.5rem auto;
}
